{% extends "base.html" %}

{% block menu %}
{% include "navbar.html" %}
{% endblock menu %}

{% block content %}


<div class="col-sm-12">

<div class="table-responsive">
<table class="table table-bordered"> 
<thead> <tr> <th>Nomor Proyek</th> <th>Nama Proyek</th> <th>Tanggal Create Proyek</th> <th> Action</th>
</tr> </thead> <tbody>
{% for obj in object_list %}
 <tr>
 <td>{{ obj.nomor_proyek }}</td>
    <td>{{ obj.nama_proyek }}</td>
    <td>{{ obj.timestamp }}</td>
    <td>edit</td>
</tr>
{% endfor %}
</tbody> </table>
</div>
	
</div>

{% endblock content %}