{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% if messages %}
<div class="messages">
  
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe}}{% else %}{{ message }}{% endif %}</li>
      {% endfor %}
  </ul>
  
</div>
{% endif %}

{{ user }}

<br>
{# {% if user.is_anonymous %} #}
{# <a href="/login/">login</a> #}
{# {% else %} #}
<a href="/logout/">logout</a>
{# {% endif %} #}
{% endblock content %}